# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
.env
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
data/raw/
data/processed/*.mp4
data/processed/*.mov
data/processed/*.avi
data/processed/*.mkv
data/processed/*.wav
*.csv
!data/templates/*.csv  # Keep template CSVs

# Models
models/*.h5
models/*.pth
models/*.joblib
models/*.onnx

# Outputs & Logs
*.log
*.tmp
output/
reports/*.pdf
reports/*.docx
reports/*.pptx

# OS-specific
.DS_Store
Thumbs.db
